nav {
  background-color: #f72310;
  padding: 10px;
  height: 50px;
  /* width: 50%; */
  border-radius: 20px !important;
}

svg {
  width: 110px;
  height: 20px;
  fill: #fff;
}

a {
  color: black !important;
}
