@font-face {
  font-family: news-font;
  src: url(../fonts/dejavu-sans/DejaVuSans.ttf);
}

.text-muted {
  color: #6c757d !important;
  font-size: 16px;
  font-weight: bolder;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  bottom: 0;
  padding: .5rem .5rem;
}

nav {
  background-color: #f72310;
  padding: 10px;
  height: 70px;
  width: 100%;
}

svg {
  width: 110px;
  height: 20px;
  fill: #fff;
}

a {
  color: black !important;
}

.text-white {
  margin-left: 5px;
}

@media only screen and (min-width: 768px) and (max-width: 1220px) {
  .subscribe-content {
    align-items: center;
  }

  .login-title {
    padding: 0 5px;
  }
}

@media only screen and (min-width: 1220px) {
  nav {
    height: 76px;
    padding: 20px !important;
  }

  main {
    border-top: 15px solid transparent;
    border-image: linear-gradient(to right, rgb(234,234,234) 0%, #fff 100%);
    border-image-slice: 1;
}

  .mo-links {
    align-items: center;
  }

  .menu-options {
    background-color: #fff;
    padding: 5px 100px 5px 10px !important;
    height: auto;
  }

  svg {
    height: 55px;
    width: auto;
  }
}
